In [5]:
def connect_to_db():

    import sqlalchemy
    import sqlite3
    
    # Create SQL Alchemy database connection
    db_url = f"sqlite:///C:/Users/JanseDanny/OneDrive/Documenten Danny/Football Fortunes/database/DEV/footballfortunes.sqlite"
    ##db_url = f"sqlite:////app/data/database/DEV/footballfortunes.sqlite"
    engine = sqlalchemy.create_engine(db_url, echo=True)
    sqal_connection = engine.connect()

    # Create Psychop connection
    psy_connection = sqlite3.connect("C:/Users/JanseDanny/OneDrive/Documenten Danny/Football Fortunes/database/DEV/footballfortunes.sqlite")
    ##psy_connection = sqlite3.connect("/app/data/database/DEV/footballfortunes.sqlite")
    
    return psy_connection, sqal_connection

def close_connection_db(psy_connection, sqal_connection):
    
    # Commit de transactie en sluit de verbinding
    sqal_connection.close()
    psy_connection.close()

In [20]:
def quality_control(sqal_connection, controle_map):

    import pandas as pd
    import glob
    import os

    print(f'{controle_map} quality control gestart')
    
    current_directory = os.getcwd()
    parent_directory = os.path.dirname(os.getcwd())
    path = f'{parent_directory}/04 QualityDSA/{controle_map}'
    sql_files = glob.glob(path + '\*.sql')
    print(path)
    print(sql_files)
    aantal_issues = 0

    for sql_file in sql_files:
        
    # Lees het SQL-bestand in en voer de queries uit
        with open(sql_file) as file:
            sql_script = file.read()
            resultaten = pd.read_sql(sql_script, sqal_connection)
                    
        for i, resultaat in resultaten.iterrows():
            if resultaat[0] == 0:
                print(f'   TOP! {resultaat[1]}')
            else: 
                print(f'   OEPS! {resultaat[1]}') 
                aantal_issues += 1
       
    print(f'{controle_map} quality control gereed')
    
    return(aantal_issues)

In [21]:
# connectie maken met db
psy_connection = connect_to_db()[0]
sqal_connection = connect_to_db()[1]


# kwaliteitcontrole dsa
quality_control(sqal_connection, 'sql')


close_connection_db(psy_connection, sqal_connection)

sql quality control gestart
c:\Users\JanseDanny\OneDrive\Documenten Danny\Lead Data Engineer\footballfortunes/04 QualityDSA/sql
['c:\\Users\\JanseDanny\\OneDrive\\Documenten Danny\\Lead Data Engineer\\footballfortunes/04 QualityDSA/sql\\01 dsa_fd_stats.sql', 'c:\\Users\\JanseDanny\\OneDrive\\Documenten Danny\\Lead Data Engineer\\footballfortunes/04 QualityDSA/sql\\01 dsa_odd_api.sql', 'c:\\Users\\JanseDanny\\OneDrive\\Documenten Danny\\Lead Data Engineer\\footballfortunes/04 QualityDSA/sql\\01 dwa_teams_wedkantoren.sql']
2024-10-19 16:10:00,645 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-19 16:10:00,645 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("-- maak een tabel met volgnummers voor analyse van dubbele waarden in fd_stats
-- en een lijst met aantallen per seizoen in fd_stats voor vergelijk met controletabel
-- en een lijst met teamnamen in fd_stats voor vergelijk met dwa_d_teams
with
	dubbele_fd_stats as (
		select
		row_number() over (partition by hometeam, awayteam, date) as rownr
		, div, date, hometeam, awayteam
		from dsa_fd_stats
	) ,
	aantallen_per_seizoen_fd_stats as (
		select
		case when maand > 6 then jaar||(jaar+1) else (jaar-1)||jaar end seizoen
		,*
		from (
			select
			cast(substring(date, 4,2) as integer) maand
			,cast(substring(date, -2) as integer) jaar
			,*
			from dsa_fd_stats fs2) mndjr
	) ,
	teamnamen_fd_stats as (
		select distinct team from (select hometeam as team from dsa_fd_stats union select awayteam as team from dsa_fd_stats))
-- check of er in dubbele waarden zitten in fd_stats obv unieke combi hometeam, awayteam en date
select
aantal
,case when dubbele_check.aantal = 0 then 'dsa_fd_stats bevat geen dubbele waarden' else 'dsa_fd_stats bevat dubbele waarden' end
from(
	select count(*) as aantal from dubbele_fd_stats where rownr > 1
	) dubbele_check
---
union
--- check of de aantallen per seizoen overeenkomen met de controletabel die gemaakt en gecheckt is
select
case when sum = 0 then 0 else 1 end
,case when aantallen_check.sum = 0 then 'historische aantallen dsa_fd_stat correct' else 'historische aantallen dsa_fd_stat niet correct' end
from (
	select sum(aantal_controle - aantal_werkelijk) as sum
	from (
		select sz.div, sz.seizoen, min(wa.aantal) as aantal_controle, count(sz.seizoen) as aantal_werkelijk from aantallen_per_seizoen_fd_stats sz
		left outer join controle_wedstrijdaantallen wa
			on sz.div = wa.div and sz.seizoen = wa.seizoen
		where sz.seizoen <> '2425'
		group by sz.seizoen, sz.div order by sz.div, sz.seizoen) vergelijk
	) aantallen_check
---
union
--- check of de laatste wedstrijd in fd_stats niet ouder is dan 5 dagen
select
case when (julianday(DATE('now')) - julianday(datum)) > 5 then 1 else 0 end
,case when (julianday(DATE('now')) - julianday(datum)) > 5 then 'laatste wedstrijd dsa_fd_stat meer dan 5 dagen oud, dus data niet actueel' else 'laatste wedstrijd dsa_fd_stat minder dan 5 dagen oud, dus data actueel' end
from (
		select
		date((2000+substr(date,-2))||'-'||substr(date,4,2)||'-'||substr(date,1,2)) as datum
		,*
		from dsa_fd_stats fs2 order by datum desc limit 1
	) check_datum
---
union
--- check of er geen NULL waarden in fd_stats zitten obv de kolom 'date'
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'dsa_fd_stats bevat geen wedstrijden met NULL waarden voor date' else 'dsa_fd_stats bevat wel wedstrijden met NULL waarden voor date' end
from dsa_fd_stats where date is null
---
union
--- check of alle teamnamen in fd_stats voorkomen in dwa_d_teams
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle teamnamen in dsa_fd_stats zijn aanwezig in dwa_d_team' else 'niet alle teamnamen in dsa_fd_stats zijn aanwezig in dwa_d_team' end
from teamnamen_fd_stats where team not in (select team_fd from dwa_d_teams)
---
union
--- check of alle teamnamen in dwa_d_teams een sleutel hebben
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle teamnamen in dwa_d_teams hebben een sleutel, masterdata op orde' else 'niet alle teamnamen in dwa_d_teams hebben een sleutel, masterdata niet op orde' end
from DWA_d_teams where (team_fd is not null and team is null) or (team_oddapi is not null and team is null)
;")
2024-10-19 16:10:00,646 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-19 16:10:00,647 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("-- maak een tabel met volgnummers voor analyse van dubbele waarden in fd_stats
-- en een lijst met aantallen per seizoen in fd_stats voor vergelijk met controletabel
-- en een lijst met teamnamen in fd_stats voor vergelijk met dwa_d_teams
with
	dubbele_fd_stats as (
		select
		row_number() over (partition by hometeam, awayteam, date) as rownr
		, div, date, hometeam, awayteam
		from dsa_fd_stats
	) ,
	aantallen_per_seizoen_fd_stats as (
		select
		case when maand > 6 then jaar||(jaar+1) else (jaar-1)||jaar end seizoen
		,*
		from (
			select
			cast(substring(date, 4,2) as integer) maand
			,cast(substring(date, -2) as integer) jaar
			,*
			from dsa_fd_stats fs2) mndjr
	) ,
	teamnamen_fd_stats as (
		select distinct team from (select hometeam as team from dsa_fd_stats union select awayteam as team from dsa_fd_stats))
-- check of er in dubbele waarden zitten in fd_stats obv unieke combi hometeam, awayteam en date
select
aantal
,case when dubbele_check.aantal = 0 then 'dsa_fd_stats bevat geen dubbele waarden' else 'dsa_fd_stats bevat dubbele waarden' end
from(
	select count(*) as aantal from dubbele_fd_stats where rownr > 1
	) dubbele_check
---
union
--- check of de aantallen per seizoen overeenkomen met de controletabel die gemaakt en gecheckt is
select
case when sum = 0 then 0 else 1 end
,case when aantallen_check.sum = 0 then 'historische aantallen dsa_fd_stat correct' else 'historische aantallen dsa_fd_stat niet correct' end
from (
	select sum(aantal_controle - aantal_werkelijk) as sum
	from (
		select sz.div, sz.seizoen, min(wa.aantal) as aantal_controle, count(sz.seizoen) as aantal_werkelijk from aantallen_per_seizoen_fd_stats sz
		left outer join controle_wedstrijdaantallen wa
			on sz.div = wa.div and sz.seizoen = wa.seizoen
		where sz.seizoen <> '2425'
		group by sz.seizoen, sz.div order by sz.div, sz.seizoen) vergelijk
	) aantallen_check
---
union
--- check of de laatste wedstrijd in fd_stats niet ouder is dan 5 dagen
select
case when (julianday(DATE('now')) - julianday(datum)) > 5 then 1 else 0 end
,case when (julianday(DATE('now')) - julianday(datum)) > 5 then 'laatste wedstrijd dsa_fd_stat meer dan 5 dagen oud, dus data niet actueel' else 'laatste wedstrijd dsa_fd_stat minder dan 5 dagen oud, dus data actueel' end
from (
		select
		date((2000+substr(date,-2))||'-'||substr(date,4,2)||'-'||substr(date,1,2)) as datum
		,*
		from dsa_fd_stats fs2 order by datum desc limit 1
	) check_datum
---
union
--- check of er geen NULL waarden in fd_stats zitten obv de kolom 'date'
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'dsa_fd_stats bevat geen wedstrijden met NULL waarden voor date' else 'dsa_fd_stats bevat wel wedstrijden met NULL waarden voor date' end
from dsa_fd_stats where date is null
---
union
--- check of alle teamnamen in fd_stats voorkomen in dwa_d_teams
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle teamnamen in dsa_fd_stats zijn aanwezig in dwa_d_team' else 'niet alle teamnamen in dsa_fd_stats zijn aanwezig in dwa_d_team' end
from teamnamen_fd_stats where team not in (select team_fd from dwa_d_teams)
---
union
--- check of alle teamnamen in dwa_d_teams een sleutel hebben
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle teamnamen in dwa_d_teams hebben een sleutel, masterdata op orde' else 'niet alle teamnamen in dwa_d_teams hebben een sleutel, masterdata niet op orde' end
from DWA_d_teams where (team_fd is not null and team is null) or (team_oddapi is not null and team is null)
;")
2024-10-19 16:10:00,648 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-19 16:10:00,648 INFO sqlalchemy.engine.Engine -- maak een tabel met volgnummers voor analyse van dubbele waarden in fd_stats
-- en een lijst met aantallen per seizoen in fd_stats voor vergelijk met controletabel
-- en een lijst met teamnamen in fd_stats voor vergelijk met dwa_d_teams
with
	dubbele_fd_stats as (
		select
		row_number() over (partition by hometeam, awayteam, date) as rownr
		, div, date, hometeam, awayteam
		from dsa_fd_stats
	) ,
	aantallen_per_seizoen_fd_stats as (
		select
		case when maand > 6 then jaar||(jaar+1) else (jaar-1)||jaar end seizoen
		,*
		from (
			select
			cast(substring(date, 4,2) as integer) maand
			,cast(substring(date, -2) as integer) jaar
			,*
			from dsa_fd_stats fs2) mndjr
	) ,
	teamnamen_fd_stats as (
		select distinct team from (select hometeam as team from dsa_fd_stats union select awayteam as team from dsa_fd_stats))
-- check of er in dubbele waarden zitten in fd_stats obv unieke combi hometeam, awayteam en date
select
aantal
,case when dubbele_check.aantal = 0 then 'dsa_fd_stats bevat geen dubbele waarden' else 'dsa_fd_stats bevat dubbele waarden' end
from(
	select count(*) as aantal from dubbele_fd_stats where rownr > 1
	) dubbele_check
---
union
--- check of de aantallen per seizoen overeenkomen met de controletabel die gemaakt en gecheckt is
select
case when sum = 0 then 0 else 1 end
,case when aantallen_check.sum = 0 then 'historische aantallen dsa_fd_stat correct' else 'historische aantallen dsa_fd_stat niet correct' end
from (
	select sum(aantal_controle - aantal_werkelijk) as sum
	from (
		select sz.div, sz.seizoen, min(wa.aantal) as aantal_controle, count(sz.seizoen) as aantal_werkelijk from aantallen_per_seizoen_fd_stats sz
		left outer join controle_wedstrijdaantallen wa
			on sz.div = wa.div and sz.seizoen = wa.seizoen
		where sz.seizoen <> '2425'
		group by sz.seizoen, sz.div order by sz.div, sz.seizoen) vergelijk
	) aantallen_check
---
union
--- check of de laatste wedstrijd in fd_stats niet ouder is dan 5 dagen
select
case when (julianday(DATE('now')) - julianday(datum)) > 5 then 1 else 0 end
,case when (julianday(DATE('now')) - julianday(datum)) > 5 then 'laatste wedstrijd dsa_fd_stat meer dan 5 dagen oud, dus data niet actueel' else 'laatste wedstrijd dsa_fd_stat minder dan 5 dagen oud, dus data actueel' end
from (
		select
		date((2000+substr(date,-2))||'-'||substr(date,4,2)||'-'||substr(date,1,2)) as datum
		,*
		from dsa_fd_stats fs2 order by datum desc limit 1
	) check_datum
---
union
--- check of er geen NULL waarden in fd_stats zitten obv de kolom 'date'
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'dsa_fd_stats bevat geen wedstrijden met NULL waarden voor date' else 'dsa_fd_stats bevat wel wedstrijden met NULL waarden voor date' end
from dsa_fd_stats where date is null
---
union
--- check of alle teamnamen in fd_stats voorkomen in dwa_d_teams
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle teamnamen in dsa_fd_stats zijn aanwezig in dwa_d_team' else 'niet alle teamnamen in dsa_fd_stats zijn aanwezig in dwa_d_team' end
from teamnamen_fd_stats where team not in (select team_fd from dwa_d_teams)
---
union
--- check of alle teamnamen in dwa_d_teams een sleutel hebben
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle teamnamen in dwa_d_teams hebben een sleutel, masterdata op orde' else 'niet alle teamnamen in dwa_d_teams hebben een sleutel, masterdata niet op orde' end
from DWA_d_teams where (team_fd is not null and team is null) or (team_oddapi is not null and team is null)
;
2024-10-19 16:10:00,649 INFO sqlalchemy.engine.Engine [raw sql] ()
   TOP! alle teamnamen in dsa_fd_stats zijn aanwezig in dwa_d_team
   TOP! alle teamnamen in dwa_d_teams hebben een sleutel, masterdata op orde
   TOP! dsa_fd_stats bevat geen dubbele waarden
   TOP! dsa_fd_stats bevat geen wedstrijden met NULL waarden voor date
   OEPS! historische aantallen dsa_fd_stat niet correct
   OEPS! laatste wedstrijd dsa_fd_stat meer dan 5 dagen oud, dus data niet actueel
2024-10-19 16:10:01,150 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("-- check dubbele waarden, moet 0 uitkomen
with
	dubbele_oddapi as (
		select
		row_number() over (partition by hometeam, awayteam, wedkantoor, datum) as rownr
		,*
		from dsa_oddapi_odds
	) ,
	teamnamen_oddapi as (
		select distinct team from (select hometeam as team from dsa_oddapi_odds union select awayteam as team from dsa_oddapi_odds)
	),
	oddapi_data as (
		select
		date(substring(datum, 1, 10)) datum
		from DSA_oddapi_odds doo
	),
	wedkantoren_oddapi as (
		select distinct wedkantoor from dsa_oddapi_odds
	)
--- check of er dubbele waarden zijn in dsa_oddapi
select
case when count = 0 then 0 else 1 end
,case when count = 0 then 'dsa_oddapi_odds bevat geen dubbele records' else 'dsa_oddapi_odds bevat dubbele records' end
from (select count(*) as count from dubbele_oddapi where rownr > 1) rijnummer
---
union
--- check of alle teamnamen voorkomen in dwa_d_team
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle teamnamen in dsa_oddapi zijn aanwezig in dwa_d_team en kunnen dus geconformeerd worden' else 'niet alle teamnamen in dsa_oddapi zijn aanwezig in dwa_d_team en dus gaat conformeren niet lukken' end
from teamnamen_oddapi where team not in (select team_oddapi from dwa_d_teams)
---
union
--- check of alle wedkantoren voorkomen in dwa_d_wedkantoor
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle wedkantoren in dsa_oddapi zijn aanwezig in dwa_d_wedkantoren en kunnen dus geconformeerd worden' else 'niet alle wedkantoren in dsa_oddapi zijn aanwezig in dwa_d_wedkantoren en dus gaat conformeren niet lukken' end
from wedkantoren_oddapi where wedkantoor not in (select distinct wk_oddapi from dwa_d_wedkantoren)
---
union
--- check of dsa_oddapi_odds actuele data bevat
select
case when count(*) > 0 then 0 else 1 end
,case when count(*) > 0 then 'dsa_oddapi_odds bevat actuele odds' else 'dsa_oddapi_odds bevat geen actuele odds' end
from oddapi_data
where datum > date('now')
---
union
--- check of alle teamnamen in dwa_d_teams een sleutel hebben
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle wedkantoren in dwa_d_wedkantoren hebben een sleutel, masterdata op orde' else 'niet alle wedkantoren in dwa_d_wedkantoren hebben een sleutel, masterdata niet op orde' end
from DWA_d_wedkantoren where (wk_fd is not null and wedkantoor is null) or (wk_oddapi is not null and wedkantoor is null)
;
")
2024-10-19 16:10:01,150 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-19 16:10:01,151 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("-- check dubbele waarden, moet 0 uitkomen
with
	dubbele_oddapi as (
		select
		row_number() over (partition by hometeam, awayteam, wedkantoor, datum) as rownr
		,*
		from dsa_oddapi_odds
	) ,
	teamnamen_oddapi as (
		select distinct team from (select hometeam as team from dsa_oddapi_odds union select awayteam as team from dsa_oddapi_odds)
	),
	oddapi_data as (
		select
		date(substring(datum, 1, 10)) datum
		from DSA_oddapi_odds doo
	),
	wedkantoren_oddapi as (
		select distinct wedkantoor from dsa_oddapi_odds
	)
--- check of er dubbele waarden zijn in dsa_oddapi
select
case when count = 0 then 0 else 1 end
,case when count = 0 then 'dsa_oddapi_odds bevat geen dubbele records' else 'dsa_oddapi_odds bevat dubbele records' end
from (select count(*) as count from dubbele_oddapi where rownr > 1) rijnummer
---
union
--- check of alle teamnamen voorkomen in dwa_d_team
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle teamnamen in dsa_oddapi zijn aanwezig in dwa_d_team en kunnen dus geconformeerd worden' else 'niet alle teamnamen in dsa_oddapi zijn aanwezig in dwa_d_team en dus gaat conformeren niet lukken' end
from teamnamen_oddapi where team not in (select team_oddapi from dwa_d_teams)
---
union
--- check of alle wedkantoren voorkomen in dwa_d_wedkantoor
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle wedkantoren in dsa_oddapi zijn aanwezig in dwa_d_wedkantoren en kunnen dus geconformeerd worden' else 'niet alle wedkantoren in dsa_oddapi zijn aanwezig in dwa_d_wedkantoren en dus gaat conformeren niet lukken' end
from wedkantoren_oddapi where wedkantoor not in (select distinct wk_oddapi from dwa_d_wedkantoren)
---
union
--- check of dsa_oddapi_odds actuele data bevat
select
case when count(*) > 0 then 0 else 1 end
,case when count(*) > 0 then 'dsa_oddapi_odds bevat actuele odds' else 'dsa_oddapi_odds bevat geen actuele odds' end
from oddapi_data
where datum > date('now')
---
union
--- check of alle teamnamen in dwa_d_teams een sleutel hebben
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle wedkantoren in dwa_d_wedkantoren hebben een sleutel, masterdata op orde' else 'niet alle wedkantoren in dwa_d_wedkantoren hebben een sleutel, masterdata niet op orde' end
from DWA_d_wedkantoren where (wk_fd is not null and wedkantoor is null) or (wk_oddapi is not null and wedkantoor is null)
;
")
2024-10-19 16:10:01,152 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-19 16:10:01,152 INFO sqlalchemy.engine.Engine -- check dubbele waarden, moet 0 uitkomen
with
	dubbele_oddapi as (
		select
		row_number() over (partition by hometeam, awayteam, wedkantoor, datum) as rownr
		,*
		from dsa_oddapi_odds
	) ,
	teamnamen_oddapi as (
		select distinct team from (select hometeam as team from dsa_oddapi_odds union select awayteam as team from dsa_oddapi_odds)
	),
	oddapi_data as (
		select
		date(substring(datum, 1, 10)) datum
		from DSA_oddapi_odds doo
	),
	wedkantoren_oddapi as (
		select distinct wedkantoor from dsa_oddapi_odds
	)
--- check of er dubbele waarden zijn in dsa_oddapi
select
case when count = 0 then 0 else 1 end
,case when count = 0 then 'dsa_oddapi_odds bevat geen dubbele records' else 'dsa_oddapi_odds bevat dubbele records' end
from (select count(*) as count from dubbele_oddapi where rownr > 1) rijnummer
---
union
--- check of alle teamnamen voorkomen in dwa_d_team
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle teamnamen in dsa_oddapi zijn aanwezig in dwa_d_team en kunnen dus geconformeerd worden' else 'niet alle teamnamen in dsa_oddapi zijn aanwezig in dwa_d_team en dus gaat conformeren niet lukken' end
from teamnamen_oddapi where team not in (select team_oddapi from dwa_d_teams)
---
union
--- check of alle wedkantoren voorkomen in dwa_d_wedkantoor
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle wedkantoren in dsa_oddapi zijn aanwezig in dwa_d_wedkantoren en kunnen dus geconformeerd worden' else 'niet alle wedkantoren in dsa_oddapi zijn aanwezig in dwa_d_wedkantoren en dus gaat conformeren niet lukken' end
from wedkantoren_oddapi where wedkantoor not in (select distinct wk_oddapi from dwa_d_wedkantoren)
---
union
--- check of dsa_oddapi_odds actuele data bevat
select
case when count(*) > 0 then 0 else 1 end
,case when count(*) > 0 then 'dsa_oddapi_odds bevat actuele odds' else 'dsa_oddapi_odds bevat geen actuele odds' end
from oddapi_data
where datum > date('now')
---
union
--- check of alle teamnamen in dwa_d_teams een sleutel hebben
select
case when count(*) = 0 then 0 else 1 end
,case when count(*) = 0 then 'alle wedkantoren in dwa_d_wedkantoren hebben een sleutel, masterdata op orde' else 'niet alle wedkantoren in dwa_d_wedkantoren hebben een sleutel, masterdata niet op orde' end
from DWA_d_wedkantoren where (wk_fd is not null and wedkantoor is null) or (wk_oddapi is not null and wedkantoor is null)
;

2024-10-19 16:10:01,152 INFO sqlalchemy.engine.Engine [raw sql] ()
   TOP! alle teamnamen in dsa_oddapi zijn aanwezig in dwa_d_team en kunnen dus geconformeerd worden
   TOP! alle wedkantoren in dsa_oddapi zijn aanwezig in dwa_d_wedkantoren en kunnen dus geconformeerd worden